{% extends "base.html" %}

{% block content %}
    <h1>Agenda de contactos</h1>
    <a href="{{ url_for('post') }}">Nuevo Registro</a>
    <div class="contacts">
    {% for contact in contacts%}
        <div>{{contact.first_name}}</div>
        <div>{{contact.last_name}}</div>
        <div>{{contact.email}}</div>
        <div>{{contact.phone}}</div>
        <div>
            <form action="{{ url_for('edit_post', id=contact.id) }}" method="post">
                <input type="submit" value="Editar">
            </form>
        </div>
        <div>
            <form action="{{ url_for('delete_post', id=contact.id) }}" method="post">
                <input type="submit" value="Eliminar">
            </form>
        </div>
        
    {% endfor %}
    </div>
{% endblock %}
